 /*TODO: вырезать фото стакана по новой  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    width: 100%;
    height: 120px;
}

.header-container {
    padding: 37px 200px;
    width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.07));
    background-color: #e8ebf1;
    border: 1px solid rgba(0,0,0,0.15);
    }

.logo {
    font-size: 30px;
    font-weight: 900;
    line-height: 20px;

}

.lite-logo {
    color: #2aacc8;
}

/* NavBar */

.navbar-header {
    display: flex;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li a {
    padding-right: 50px;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links li a:hover{
    color: #2aacc8;
    transition: all 0.3s ease-in-out;
}

/* Banner */

.header-banner {
    padding-top: 30px;
    width: 1600px;
    height: 500px;
    background-color: #81e4ed;
}

.banner {
    width: 1000px;
    height: 440px;
    margin: 0 auto;
    background-color: #e05936;
    background-image: url("../img/cup.png"), url("../img/message.png");
    background-repeat: no-repeat;
    background-position: center center, center right;
}

.banner-title {
    width: 369px;
    height: 242px;  
    padding: 70px 20px 20px 44px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
}

/* Main section */

.main {
    margin-top: 477px;
    flex: 1 1 auto;
    width: 100%;
    height: 300px;
    filter: drop-shadow(0px -2px 2.5px rgba(0,0,0,0.07));
    background-color: #e8ebf1;
    border: 1px solid rgba(0,0,0,0.15);
}

.card {
    padding: 50px 300px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ellipse {
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #2aacc8;
}

.fa-icon {
    margin: auto;
    font-size: 25px;    
    color: #fff;
}

.card-title {
    padding: 0 0 40px 20px;
    display: inline-flex;
    font-size: 15px;
    line-height: 20px; 
    text-transform: uppercase;
}

.card-text {
    padding-bottom: 50px;
    width: 220px;
    height: 110px;
    font-size: 13px;
    line-height: 20px;
    color: #363636;
}

.card-item-link {
    font-size: 13px;
    line-height: 20px;
    color: #2aacc8;
    text-decoration: none;
}

.bislite-psd {
    margin: 50px 0;
}

.bislite-psd-download {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 140px;
    background-color: #e8fcfe;
    border: 1px solid #81e4ed;
    position: relative;
}

.bislite-psd-text {
    width: 613px;
    height: 69px;
    font-size: 16px;
    line-height: 26px;
    color: #363636;
}


.icon-download-psd {    
    font-size: 28px;
    color: #fff; 
    position: absolute;
    right: 230px;
    z-index: 2;
}

.btn-download {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 240px;
    height: 60px;
    border-radius: 8px;
    filter: drop-shadow(0px 2px 1.5px rgba(0,0,0,0.2));
    background-image: linear-gradient(0deg, #29abc7 0%, #5fcddd 15%, #71d9e5 50%, #81e3ed 100%);
    border: 1px solid #2aacc8;
}

.btn-link {
    font-size: 18px;
    line-height: 20px;
    color: #0d0707;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.footer {
    margin-top: 250px;
    width: 100%;
    height: 93px;
    background-color: #e8ebf1;
    border: 1px solid rgba(0,0,0,0.15);
}

.footer-container {
    padding: 30px 200px;
    width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-copyright {
    width: 635px;
    height: 100%;
    font-size: 13px;
    line-height: 20px;
    color: #363636;
}

.footer-logo {
    font-size: 50px;
    font-weight: 900;
    line-height: 20px;
}


